# services.yaml

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Controller\HomeController: ~

    App\Repository\AppointmentRepository: ~

    App\Controller\CalendarController:
        arguments:
            $appointmentRepository: '@App\Repository\AppointmentRepository'

    App\Controller\AppointmentController:
        public: true
        tags: ['controller.service_arguments']
        arguments:
            $entityManager: '@doctrine.orm.default_entity_manager'
            $appointmentRepository: '@App\Repository\AppointmentRepository'
