
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appointment Calendar</h1>
    <div class="calendar">
        <!-- Display the calendar grid here -->
        <table>
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <!-- Display the calendar rows and cells here -->
                {% for row in calendar %}
                    <tr>
                        {% for cell in row %}
                            <td class="{{ cell.class }}">{{ cell.day }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
